<div fxLayout="column" fxLayoutAlign="center center" class="dashboard">
  <h1>Welcome, Caregiver</h1>
  <div fxLayout="row" fxLayoutWrap fxLayoutAlign="center center" class="tiles">
    <mat-card class="tile" routerLink="/reminders" fxFlex="20">
      <mat-card-title>Reminders</mat-card-title>
    </mat-card>
    <mat-card class="tile" routerLink="/emergency-contacts" fxFlex="20">
      <mat-card-title>Emergency Contacts</mat-card-title>
    </mat-card>
    <mat-card class="tile" routerLink="/gps-tracking" fxFlex="20">
      <mat-card-title>GPS Tracking</mat-card-title>
    </mat-card>
    <mat-card class="tile" routerLink="/medical-information" fxFlex="20">
      <mat-card-title>Medical Information</mat-card-title>
    </mat-card>
    <mat-card class="tile" routerLink="/daily-planner" fxFlex="20">
      <mat-card-title>Daily Planner</mat-card-title>
    </mat-card>
    <mat-card class="tile" routerLink="/communication-tools" fxFlex="20">
      <mat-card-title>Communication Tools</mat-card-title>
    </mat-card>
  </div>
</div>
